.todo-title {
    font-size: 4rem;
    color: black;
    font-weight: 300;
    margin-bottom: 20px;
}

.card-container {
    perspective: 1000px;
}

.item-card {
    border-radius: 0;
    border: 1px solid white;
    box-shadow: 0 2px 4px black;
    transition: background 0.3s;
}

.item-card:hover {
    background-color: white;
}

.delete-icon {
    border: none;
    color: red;
    font-weight: bold;
    
}

.item-card:hover .delete-icon {
    visibility: visible;
}

